<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <div class="container">
      <h1>Bem-vindo ao Express com EJS!</h1>
      <p>Esta é uma aplicação gerada com o Express Generator.</p>
      <h5><a href="/about">Aqui fica a pagina sobre nós </a></h5>
      <h5>Para entrar em contato conosco clique <a href="/contact">aqui</a></h5>
    </div>
  </div>
</body>


</html>